<div class="form-group">
    <div>
        <div class="input-group">
            <div>
                <ul class="dropdown-menu ui-select-options" <%if (obj.minWidth){%>style="min-width: <%=obj.minWidth%>"<%}%>>
                </ul>
            </div>
            <input class="form-control ui-select-input" type="text">
            <input type="hidden" class="ui-select-hidden">
            <div class="input-group-btn">
                <a class="btn btn-default ui-select-arrow" type="button"><span class="caret"></span></a>
            </div>
        </div>
    </div>
</div>